<template name="header">
  <div>
    <div class="fixed-action-btn">
      <a href="#" data-activates="slide-out" class="grey btn btn-floating waves-effect waves-light right collapsing"><i class="mdi-navigation-menu"></i> Show</a>
    </div>
    <ul id="slide-out" class="side-nav">
      <li>{{> searchbox}}</li>
      {{#if currentUser}}
          <li><a href="/topograms">Your topograms</a></li>
          <li>{{> atNavButton}}</li>
      {{else}}
          <li><a class="btn" href="/login">Login</a></li>
      {{/if}}
      <li>Copyright: GPL v3</li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</template>
