<template name="menu">
  <div id="slide-out" class="side-nav">
    {{#if currentUser}}
        <ul class="collection with-header">
          <li class="collection-header"><h5>Your Topograms</h5></li>
          <li class="collection-item teal lighten-2">
            <a class="white-text" href="/topograms"><strong>New topogram</strong></a>
          </li>
          {{#each topograms}}
            <li class="collection-item">
              <a href="/topograms/{{_id}}"> {{ name }} </a>
            </li>
          {{/each}}
          <li class="collection-item"><a class="grey-text" href="/topograms">View all...</a></li>

        </ul>
        <ul class="collection">
          <li class="collection-item">{{> atNavButton}}</li>
          <li class="collection-item"><a href="/about">About</a></li>
        </ul>
        <div class="footer-copyright">
          <div class="container">
            <a class="grey-text text-lighten-1" href="http://www.gnu.org/licenses/gpl-3.0.en.html">
              2016 - GPL v3
            </a>
          </div>
        </div>

    <!-- {{else}}
        <li><a class="btn" href="/login">Login</a></li> -->
    {{/if}}
  </div>
</template>
