
#navTitle {
    margin-left: 20px;
}

nav ul {
    margin-right: 20px !important;
}

.category{
	word-wrap: break-word;
}

#closeInfoBox { 
    cursor: pointer; 
    cursor: hand; 
}

#map {
    width: 100%;
    height: 500px;
    border : none;
}

svg {
    position: relative.
}

#network {
    width : 100%;
    height: 75vw;
    position: fixed;
    top: 70px;
}

.toolbox {
    /*position:absolute;*/
}
