span.badge {
    position: relative !important;
    right: 0 !important;
}

#navTitle {
    margin-left: 20px;
}

nav ul {
    margin-right: 20px !important;
}

.category {
    word-wrap: break-word;
}

#closeInfoBox {
    cursor: pointer;
    cursor: hand;
}

svg {
    position: relative;
}

#networkTemplate {
    position: relative;
}

.card {
    overflow: visible !important;
}
/*#map {
  display: none;
}*/

#map, #network {
    position: fixed;
    top: 0px;
    left: 0;
    width : 100%;
    height: 100%;
}

.cxtmenu, #network>canvas{
	z-index: 0 !important;
}

#viewSelector {
    margin-bottom: 20px;
}

#footer {
  position: relative;
  bottom:0;
  text-align: center;
}

.main-view {
  height: 90vh
}

#footer p {
  color: #555;
  font-size: .7em
}
