/* get the required local files */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/roboto/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
  url('/fonts/roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/fonts/roboto/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/* use the font */
html {
  font-size: 16px;
  padding: 2rem;
  font-weight: 100;
  line-height: 1.5;

  @media (max-width: 1200px) {
      font-size: 15px;
  }

  @media (max-width: 800px) {
      font-size: 14px;
  }
}

body {
  font-size:100%;
  line-height:1.5;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

p {
  margin-bottom: 1.3em;
}


h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  line-height: 1.1;
}


h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {
  font-size: 3.375em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.5em;
}

small, .font_small {
  font-size: 0.667em;
}
