body{
  background: #F5F5F5;
}

span.badge {
    position: relative !important;
    right: 0 !important;
}

#navTitle {
    margin-left: 20px;
}

nav ul {
    margin-right: 20px !important;
}

.category {
    word-wrap: break-word;
}

#infoBox .card-title {
  line-height: 1em;
  font-size: 1.4em;
}
#closeInfoBox {
    cursor: pointer;
    cursor: hand;
}

#nodeFilterType select {
  height: 150px;
}
svg {
    position: relative;
}

#networkTemplate {
    position: relative;
}

.card {
    overflow: visible !important;
}

#map, #algobox, #toolbox {
  display: none;
}

#map, #network {
    position: fixed;
    top: 0px;
    left: 0;
    width : 100%;
    height: 100%;
}

#network>canvas{
	z-index: -1 !important;
}

#viewSelector {
    margin-bottom: 20px;
}

#footer {
  position: relative;
  bottom:0;
  text-align: center;
}

.main-view {
  height: 90vh
}

#footer p {
  color: #555;
  font-size: .7em
}

.side-nav a {
  height: inherit;
  line-height: inherit;
}

.side-nav .collection.with-header {
  margin-top: 0;
}

.network-search input[type=search] {
    padding-left: 0;
    width: inherit;
}

#titleBox h1 {
    font-size: 2rem;
}

#titleBox.card .card-reveal {
    overflow: visible !important;
}

#titleBox.card .card-reveal .card-title {
    font-size: 1em;
    font-weight: normal;
}

.editable-text:hover {
  background-color: #FCF7D3
}
