.markdown-body h1,
.markdown-body h2,
.markdown-body h3, .
.markdown-body h4 {
  margin: .414em 0 0.25em;
  font-weight : bolder;
}

.markdown-body h1 { font-size: 1.5em; }
.markdown-body h2 { font-size: 1.35em; }
.markdown-body h3 { font-size: 1.15em; }
.markdown-body h4 { font-size: 1em; }

.markdown-body img { max-width : 100%}
