<template name="titleBox">
  <div id="titleBox" class="card card-small">
    <div class="card-content">
      <p class="card-title activator grey-text text-darken-4">
        <h1>
          {{> editableText context=topogram collection="topograms" field="name"}}
        </h1>
      </p>
    </div>

    {{#if isEditable}}
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          {{> selectLayout network=networkInstance }}
         <i class="material-icons right">close</i>
        </span>
        <p>
          <a class="btn" id="import-data" href="/topograms/{{topogramId}}/lab"><i class="left material-icons">description</i>Data</a>
        </p>
        <p>
          {{> advancedEditMode network=networkInstance }}
        </p>
        <p class="grey-text">
          Version : {{ version }}
        </p>
    </div>
    <div class="card-action">
        <a id="toggle-searchBox" href="#"><i class="material-icons">search</i></a>
        <a id="toggle-filterBox" href="#"><i class="material-icons fa fa-2x fa-filter"></i></a>
        <a id="download-png" href="#"><i class="material-icons fa fa-2x fa-picture-o"></i></a>
        <a id="toggle-settings" href="#"><i class="material-icons activator">settings</i></a>
        <a id="share-icon" href="#" title="click to share publicly online"><i class="material-icons fa fa-2x fa-share-square-o"></i></a>
        <a id="download-csv" href="#" title="click to download CSV"><i class="material-icons fa fa-2x fa-table" aria-hidden="true"></i></a>
    </div>
    {{/if}}
  </div>
</template>
