<template name="infoBox">
<div id="infoBox" class="card">
  {{#if isNode }}
    {{> nodeInfo node=currentSelection network=network }}
  {{ else }}
    {{> edgeInfo edge=currentSelection network=network }}
  {{/if }}
  {{> searchBox network=network searchName="targetName" type="target" placeholder="Go to another node"}}

    {{#if pathToTarget.length }}
    <ul class="card-content collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header"><i class="material-icons">swap_calls</i>Path</div>
        <ul class="collection collapsible-body">
          {{#each pathToTarget }}
              <li class="collection-item">{{this.name}}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
    {{/if}}
  {{#if target }}
    {{> nodeInfo node=target network=network }}
  {{/if}}
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Data<i class="material-icons right">close</i></span>
  </div>
</div>
</template>
