.headline {
  vertical-align:middle;
  display:inline-block;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  padding-left:40px;
  padding-right:40px;
  max-width:800px;
  line-height:1.7;
  padding: 16em 0 0 0;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background-color: rgba(0,0,0,.7)
}

.title-card {
  font-family: 'Open Sans',sans-serif;
  color: #fff;
}

.title-card h1 {
  font-size: 4.0rem;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 15px;
}

.title-card p {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 15px;
}

.title-card h5 {
  font-weight: 400;
  font-size: 1.4em;
}
