<template name="filterBox">
  <div id="filterBox" class="card card-small">
    <div class="card-content">
      <a class="close-filters grey-text" href="#"><i class="material-icons right">close</i></a>
      <div class="row">
        {{> filterByCategory network=network type="nodes"}}
      </div>
      <!--
        <div class="row">
          {{> filterByCategory network=network type="edges"}}
        </div>
      -->
      <div class="row">
        {{> filterByDegree network=network }}
      </div>
      <div class="row">
        {{> nodesOptions network=network}}
      </div>
      <div class="row">
        <div class="col s12">
          <a href="#" class="btn btn-xs clear-filters">Clear</a>
        </div>
      </div>
    </div>
  </div>
</template>
