<template name="commentBox">
  <div id="commentBox" class="card card-small">
      {{#if isSelected }}
        <div class="card-content">
          <span id="closeCommentBox"><i class="material-icons right">close</i></span>
          <p class="card-title activator grey-text text-darken-4">
              {{ comments.length }} comments
          </p>
          <ul id="comments" class="collection">
              {{#each comments}}
                  <li class="collection-item avatar">
                    {{> comment comment=this}}
                  </li>
              {{/each}}
          </ul>
        </div>
        <div class="card-action">
          {{> commentForm}}
        </div>
      {{else}}
        <div class="card-small">
          <span id="closeCommentBox"><i class="material-icons right">close</i></span>
          <p>
            Select a node or an edge to comment.
          </p>
        </div>
      {{/if}}
  </div>
</template>
