<template name="tableEdges">
  <div class="row">
    <div class="input-field col s12">
     <i class="material-icons prefix">search</i>
     <input id="search" name="search" class="search" type="search">
     <i class="searchClose material-icons">close</i>
     <label for="first_name">Search</label>
   </div>
  </div>


  <p>
    {{ selected.length }} selected.
    <a class="waves-effect waves-teal btn delete" data-id={{this._id}}>
      <i class="material-icons">delete</i>
        Delete
    </a>
  </p>

  {{#if searching}}
     <p>
       Loading results for {{query}}...
     </p>
   {{else}}
       <table class="striped highlight">
         <thead>
           <tr>
               <th>Checked</th>
               <th data-field="data.name" class="sortable">From</th>
               <th data-field="data.group" class="sortable">To</th>
               <th>Notes</th>
           </tr>
         </thead>

         <tbody>
            {{#each rows}}
              <tr>
                <td class="rowCheckbox">
                  <input data-id={{this._id}} type="checkbox" id="{{this.data.id}}"  />
                  <label for="{{this.data.id}}"></label>
                </td>
                <td class="colFrom">
                  {{this.data.from}}
                </td>
                <td class="colTo">
                  {{this.data.to}}
                </td>
                <td class="colNotes">
                  {{> editableMarkdown edgeId=this._id }}
                </td>
              </tr>
            {{else}}
              <p class="alert alert-warning">
                 Nothing found for {{query}}.
            </p>
           {{/each}}
         </tbody>
       </table>
   {{/if}}

  <p>
    {{ count }} rows
  </p>
  <!--
    <nav>
     <ul class="pager">
       <li class="{{prevPageClass}}">
         <a id="prevPage" href="{{prevPage}}">
           <span aria-hidden="true">&larr;</span> Previous
         </a>
       </li>
       <li class="{{nextPageClass}}">
         <a id="nextPage" href="{{nextPage}}">
           Next <span aria-hidden="true">&rarr;</span>
         </a>
       </li>
       <li>
       </li>
     </ul>
   </nav>
  -->

  <div id="modal-delete" class="modal">
    <div class="modal-content">
      <h4>Delete</h4>
      <p>{{ modalText }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" id="delete-ok" class=" modal-action modal-close waves-effect waves-green btn">Yes</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    </div>
  </div>

</template>
