.arrow-up:after {
  content: "▼"
}

.arrow-down:after {
  content: "▲"
}

td {
  width: 30%
}

td.rowCheckbox {
  width: 10%
}
.colGroup {
  width: 10%
}
.colNotes {
  width: 50%
}

/*.colNotes textarea {
  max-width: 30%
}*/
