<template name="searchBox">
  <div id="searchBox" class="card card-small">
    <div class="card-content">
      <div class="network-search search input-field">
        <i class="material-icons prefix">search</i>
        <!-- <label for="search">Search node or edge</label> -->
          <input
                class="search"
                type=search
                name="searchFilter"
                placeholder="{{placeholder}}"
                autocomplete="off"
                spellcheck="off"
                data-activates="{{searchName}}"
                data-beloworigin="true"
                required
            >
            <i class="searchClose material-icons">close</i>
            <ul id="{{searchName}}" class="search-dropdown dropdown-content">
              {{#if isReadOnly }}
              <li id="new-node">
                <a href="#" data-node-id="">
                  Create:
                  <span class='red-text text-ligthen-1'>
                  </span>
                </a>
              </li>
              {{/if}}
              <li class="divider"></li>
            </ul>
        </div>
      </div>
    </div>
</template>
