<template name="nodesOptions">
  <!-- <label for="nodeColorMethod">Node Color Method</label>
  <select class="browser-default" name="nodeColorMethod" id="nodeColorMethod">
      {{#each nodeColorMethod}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
  </select> -->
      {{#if Template.subscriptionsReady}}
        {{#if nodeColor}}
          <div class="switch">
            <label for="nodeColor">
              User-defined
              <input type="checkbox" checked="false" name="nodeColor" id="nodeColor" />
              <span class="lever"></span>
              Categories
            </label>
          </div>
        {{/if}}

        {{#if nodeSize}}
        <div class="switch">
          <label for="nodeSize">
            Weight
            <input type="checkbox" checked="false" name="nodeSize" id="nodeSize" />
            <span class="lever"></span>
            Degree
          </label>
        </div>
        {{/if}}
      {{else}}
        Loading…
      {{/if}}
</template>
