<template name="nodesOptions">
  <label for="nodeColorMethod">Node Color Method</label>
  <select class="browser-default" name="nodeColorMethod" id="nodeColorMethod">
      {{#each nodeColorMethod}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
  </select>

  <label for="nodeSize">Node Size</label>
  <select class="browser-default" name="nodeSize" id="nodeSize">
      {{#each nodeSizeMethods}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
  </select>
</template>
